@charset 'UTF-8';

.custom-icon {
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor !important;

    * {
      fill: currentColor !important;
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Manrope' !important;
  background-color: #171717;
  background-image: url('src/assets/images/noise.svg');
  background-repeat: repeat;
  background-size: contain;
}

.unit {
  position: relative;
  width: 100%;
  height: auto;
}
