@charset 'UTF-8';


// Manrope
@include font-face('Manrope-Light',
  'Manrope/Manrope-Light.ttf',
  $weight: 300);

@include font-face('Manrope',
  'Manrope/Manrope-Regular.ttf',
  $weight: 400);

@include font-face('Manrope-Medium',
  'Manrope/Manrope-Medium.ttf',
  $weight: 500);

@include font-face('Manrope-SemiBold',
  'Manrope/Manrope-SemiBold.ttf',
  $weight: 600);

@include font-face('Manrope-Bold',
  'Manrope/Manrope-Bold.ttf',
  $weight: 700);