.banner {
  height: 100vh;
  background-image: url('src/assets/images/banner_tree.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25% auto;

  &__title {
    font-family: 'Manrope-Medium';
    font-size: 168px;
  }
}


@media (max-width: 1440px) {

  .banner {

    &__title {
      font-size: 147px;
    }
  }
}

@media (max-width: 1240px) {
  .banner {

    &__title {
      font-size: 126px;
    }
  }
}

@media (max-width: 1024px) {
  .banner {

    &__title {
      font-size: 105px;
    }
  }
}