.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  white-space: nowrap;

  &__image {
    max-height: 50px;
    max-width: 30px;
  }
}

.hero-info {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  padding: 0;
  z-index: 1000;
  max-width: 550px;
}

.hero-slider__controls {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  background-color: black;
  border: #841818 3px solid;
  border-top: none;

  &>.hero-slider__control {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #841818;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    color: white;
    width: 30px;
    height: 30px;
  }
}

.hero-slide {
  display: none;
}

.hero-slide--active {
  display: block;
}

.application-btn__btn {
  background-color: #841818;
}

@media (max-width: 1045px) {
  .application-btn {
    margin-top: 1rem !important;
  }
}

@media (max-width: 1024px) {
  .hero-info {
    max-width: 450px;
  }
}

@media (max-width: 960px) {
  .hero-info {
    max-width: 350px;
  }

  .hero-slider__controls {
    padding: 0.5rem;

    &>.hero-slider__control {
      font-size: 20px;
      width: 25px;
      height: 25px;
    }
  }
}

@media (max-width: 660px) {
  .hero-info {
    max-width: 305px;
    left: 2.3rem
  }

  .hero-slider__controls {

    &>.hero-slider__control {
      font-size: 18px;
      width: 20px;
      height: 20px;
    }
  }
}