.map {
  height: 100vh;
  width: 100%;
}

.popup-content {
  display: flex;
}

.popup-image {
  flex: 1;
  margin-right: 10px;
}

.popup-image img {
  max-width: 100%;
  height: auto;
}

.popup-info {
  flex: 2;
}

.popup-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.popup-birth,
.popup-death {
  font-size: 14px;
  line-height: 1.5;
}

.hidden {
  display: none;
}

// Изменение стилей библиотеки

.leaflet-bottom {
  display: none !important;
}

.leaflet-popup{
  background-color: #000 !important;
  border-radius: 0 !important;
}

.leaflet-popup-pane{
  position: absolute;
  top:0;
  left: 0;
}

.leaflet-popup-content-wrapper{
  padding: 0.5rem !important;
  background-color: #000 !important;
  border-radius: 0 !important;
  border: 3px solid #841818 !important;
}

.custom-popup-container {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1000;
  color: #fff;
  max-width: 550px;
}

.popup-content{
  padding: 1rem;
}

.popup-image{
  max-width: 7rem;
}

.popup-header {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.popup-title{

  &__star{
    min-width: 15px;
    min-height: 15px;
    margin-bottom: 3px;
  }
}

.custom-popup-close-button-container {
  cursor: pointer;
}

.custom-popup-close-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
