.map {
  height: 765px;
  width: 100%;
}

.custom-popup {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.popup-content {
  display: flex;
}

.popup-image {
  flex: 1;
  margin-right: 10px;
}

.popup-image img {
  max-width: 100%;
  height: auto;
}

.popup-info {
  flex: 2;
}

.popup-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.popup-birth,
.popup-death {
  font-size: 14px;
  line-height: 1.5;
}