.team {
  font-family: "Manrope";
  width: 100%;

  &__title {
    font-size: 70px;
  }

  &__image{
    max-width: 100%;
    left:0;
    top:100px;
    position: absolute;
    z-index: -1;
  }
}

.text-body1 li::marker {
  font-weight: bold;
  font-size: 20px;
  color: #841818;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

@media (max-width:1440px){
  .team{

    &__title{
      font-size: 60px;
    }
  }
}

@media (max-width:1024px){
  .team{

    &__title{
      font-size: 48px;
    }
  }
}

@media (max-width:960px){
  .team{

    &__title{
      font-size: 36px;
    }
  }
}

@media (max-width:660px){
  .team{

    &__title{
      font-size: 24px;
    }
  }
}